@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@font-face {
	font-family: "GothamBook";
	
	src: url("../Fonts/GothamBook.ttf");
}
@font-face {
	font-family: "GothamBold";
	
	src: url("../Fonts/GothamBold.ttf");
}